services:

  sso:
    build: .
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://sso-db/keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - USER_API_KEY=user-api-key
      - FDK_CLIENT_SECRET=secret
      - FDK_PORTAL_BASE_URI=https://staging.fellesdatakatalog.digdir.no
      - FDK_COMMUNITY_BASE_URI=https://community.staging.fellesdatakatalog.digdir.no
      - ADMIN_GUI_BASE_URI=https://admin.staging.fellesdatakatalog.digdir.no
      - FDK_REGISTRATION_BASE_URI=https://registrering.staging.fellesdatakatalog.digdir.no

    depends_on:
      - sso-db

  sso-db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=keycloak
      - POSTGRES_DB=keycloak
    ports:
      - "5432:5432"
