.h-100 {
    height: 100% ;
}

.mb-5 {
    margin-bottom: 5rem;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.login-pf body {
    background: url("../img/illustration-search-dark.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30%;
    background-color: #EEEFF0;
    height: 100%;
}

.login-pf-page {
    display: flex;
    flex-flow: column;
    font-size: 1.6rem;
    height: 100%;
    padding-top: 0;
}

html {
    background: none !important; /* necessary to override KeyCloak background */
}

/*title banner size and colour*/
#kc-header {
    overflow: visible;
    white-space: nowrap;
    background-color: rgb(45, 55, 65);
    border-bottom: 1px solid #DFE1E2;
    padding: 16px 20px;
    height: 80px;
    margin-bottom: 3em;
}

#kc-header-wrapper {
    background: url("../img/fdk-publishing-logo-negative.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    flex-grow: 1;
    height: 45px;
    white-space: normal;
}

#fdk-nav {
    display: none;
}

.navbar-nav__item > a {
    color: #FFF;
    font-size: 1.6rem;
}

.navbar-nav__item > a.external_icon {
    align-items: center;
    display: flex;
}

.navbar-nav__item > a.external_icon:after {
    background: url("../img/icon-link-external-body-sm.svg") no-repeat;
    content: "";
    width: 15px;
    height: 15px;
    margin-left: 5px;
    display: inline-block;
}

.navbar-nav__item > a:hover {
    background-color: transparent !important;
    text-decoration: underline !important;
}

.fdk-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    padding: 3rem;
    gap: 1em;
}

.fdk-card > p {
    margin-bottom: 0;
}

.choose_idp_button {
    text-decoration: none;
    color: #2D3741;
    background-color: #D5D7D9 ;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: .8em .9em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline-color: orange !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: fit-content;
}

.choose_idp_button > span {
    white-space: nowrap;
}

.choose_idp_button:hover {
    text-decoration: none;
    color: #2d3741;
    background-color: #ffffff;
    border: 1px solid #2d3741;
}

.choose_idp_button:focus {
    color: #2d3741;
}

.choose_brreg_idp_button {
    color: #ffffff;
    background-color: #013551;
}

.choose_brreg_idp_button:hover {
    color: #013551;
    background-color: #f2fcfe;
    border: 1px solid #013551;
}

.choose_brreg_idp_button:focus {
    color: #ffffff;
}

.choose_skatt_idp_button {
    color: #ffffff;
    background-color: #6f2c3f;
}

.choose_skatt_idp_button:hover {
    color: #6f2c3f;
    background-color: #f7e2e8;
    border: 1px solid #6f2c3f;
}

.choose_skatt_idp_button:focus {
    color: #ffffff;
}

.logo-wrapper-brreg > img {
    max-height: 35px;
    width: auto;
}

.logo-wrapper-skatt > img {
    max-height: 60px;
    width: auto;
    margin-top: -15px;
    margin-bottom: -10px; 
}

#fdk-footer {
    color: #FFF;
    font-size: 1.4rem;
    margin-top: auto;
    overflow: visible;
    white-space: nowrap;
    width:100%;
    background-color: #2D3741;
    padding: 3em;
}

.fdk-footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fdk-footer-link-list {
    padding: 1em 0;
}

.fdk-footer-link-header {
    font-size: 1.6rem;
    font-weight: 600;
}

ul.fdk-footer-links {
    list-style-type: none;
    margin: .5em 0;
    padding: 0;
}

.fdk-footer-link-list__item > a {
    color: #FFF;
    text-decoration: none !important;
    border-bottom: 1px solid #FFF;
}

@media (min-width: 576px) {
    .container-fluid {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        max-width: 720px;
    }
    #fdk-nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

@media (max-width: 992px) {
    .fdk-button-and-img-container {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        max-width: 960px;
    }
}
