.h-100 {
    height: 100% ;
}

.mb-5 {
    margin-bottom: 5rem;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.login-pf body {
    background: url("../img/illustration-search-dark.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30%;
    background-color: #EEEFF0;
    height: 100%;
}

.login-pf-page {
    display: flex;
    flex-flow: column;
    font-size: 1.6rem;
    height: 100%;
}

/*title banner size and colour*/
#kc-header {
    overflow: visible;
    white-space: nowrap;
    background-color: rgb(45, 55, 65);
    border-bottom: 1px solid #DFE1E2;
    padding: 16px 20px;
    height: 80px;
    margin-bottom: 3em;
}

#kc-header-wrapper {
    background: url("../img/fdk-publishing-logo-negative.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    flex-grow: 1;
    height: 45px;
    white-space: normal;
}

#fdk-nav {
    display: none;
}

.navbar-nav__item > a {
    color: #FFF;
    font-size: 1.6rem;
}

.navbar-nav__item > a.external_icon {
    align-items: center;
    display: flex;
}

.navbar-nav__item > a.external_icon:after {
    background: url("../img/icon-link-external-body-sm.svg") no-repeat;
    content: "";
    width: 15px;
    height: 15px;
    margin-left: 5px;
    display: inline-block;
}

.navbar-nav__item > a:hover {
    background-color: transparent !important;
    text-decoration: underline !important;
}

.fdk-card {
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-color: white !important;
    padding: 3rem;
}

.fdk-card > p {
    margin-bottom: 0;
}

.choose_idp_button {
    text-decoration: none;
    margin-bottom: 1em;
    color: #2D3741;
    background-color: #D5D7D9 ;
    font-size: 1.5rem;
    line-height: 1.5rem;
    box-shadow: 0 2px 4px rgba(18, 22, 25, 0.20);
    padding: .8em .9em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.choose_idp_button:hover {
    text-decoration: none;
    color: #FFFFFF;
}

#fdk-footer {
    color: #FFF;
    font-size: 1.6rem;
    margin-top: auto;
    overflow: visible;
    white-space: nowrap;
    width:100%;
    background-color: #2D3741;
    padding: 3em;
}

.fdk-footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fdk-footer-link-list {
    padding: 1em 0;
}

.fdk-footer-link-header {
    font-size: 1.8rem;
}

ul.fdk-footer-links {
    list-style-type: none;
    margin: .5em 0;
    padding: 0;
}

.fdk-footer-link-list__item > a {
    color: #FFF;
    text-decoration: underline !important;
}

@media (min-width: 576px) {
    .container-fluid {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        max-width: 720px;
    }
    #fdk-nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1140px;
    }
}
