---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - sso-deployment.yaml
  - sso-service.yaml
  - sso-headless-service.yaml
images:
  - name: sso
    newName: ghcr.io/informasjonsforvaltning/sso
    newTag: $(GIT_COMMIT_SHA)
