apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: sso
  name: sso
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: sso
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: sso
    spec:
      containers:
        - name: sso
          image: sso
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
            - containerPort: 9000
          livenessProbe:
            httpGet:
              path: /auth/health/live
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /auth/health/ready
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          resources:
            requests:
              memory: "1Gi"
              cpu: "100m"
            limits:
              memory: "1Gi"
          env:
            - name: KC_CACHE
              value: ispn
            - name: KC_CACHE_STACK
              value: kubernetes
            - name: JGROUPS_DISCOVERY_PROTOCOL
              value: dns.DNS_PING
            - name: JAVA_OPTS_APPEND
              value: -Djgroups.dns.query=sso-headless.default.svc.cluster.local
      restartPolicy: Always
