apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: sso
  name: sso
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: sso
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: sso
    spec:
      containers:
        - name: sso
          env:
            - name: JAVA_OPTS
              value: -Xmx1024m
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: sso
                  key: KEYCLOAK_USER
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sso
                  key: KEYCLOAK_PASSWORD
            - name: KC_DB
              valueFrom:
                secretKeyRef:
                  name: sso
                  key: DB_VENDOR
            - name: KC_DB_URL
              valueFrom:
                secretKeyRef:
                  name: sso
                  key: DB_URL
            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: USER
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: PASSWORD
            - name: USER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: common
                  key: SSO_API_KEY
            - name: FDK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: sso
                  key: FDK_CLIENT_SECRET
            - name: FDK_PORTAL_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: sso
                  key: FDK_PORTAL_BASE_URI
            - name: FDK_COMMUNITY_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_COMMUNITY_BASE_URI
            - name: ADMIN_GUI_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: ADMIN_GUI_BASE_URI
            - name: FDK_REGISTRATION_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_REGISTRATION_BASE_URI
          image: sso
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
            - containerPort: 9000
          livenessProbe:
            httpGet:
              path: /auth/health/live
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /auth/health/ready
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          resources:
            requests:
              memory: "1Gi"
              cpu: "100m"
            limits:
              memory: "1Gi"
      restartPolicy: Always
