name: Deploy to production & demo
permissions:
  contents: read
  packages: write
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-sso:
    name: Build when pull request is merged
    uses: Informasjonsforvaltning/workflows/.github/workflows/build-push.yaml@main
    with:
      app_name: sso
      environment: prod
      gh_environment: prod
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-sso-to-prod:
    name: Deploy to prod environment
    needs: [ build-sso ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: sso
      environment: prod
      gh_environment: prod
      cluster: digdir-fdk-prod
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_PROD_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  deploy-sso-to-demo:
    name: Deploy to demo environment
    needs: [ deploy-sso-to-prod ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: sso
      environment: demo
      gh_environment: demo
      cluster: digdir-fdk-dev
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_DEV_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
