name: Deploy to staging
permissions:
  contents: read
  packages: write
on:
  pull_request:
    types: [ready_for_review, opened, reopened, synchronize]
    branches:
      - main

jobs:
  build-sso:
    name: Build when pull request is created
    if: ${{ github.actor != 'dependabot[bot]' && github.event.pull_request.draft == false }}
    uses: Informasjonsforvaltning/workflows/.github/workflows/build-push.yaml@main
    with:
      app_name: sso
      environment: staging
      gh_environment: staging
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-sso:
    name: Deploy to staging environment
    if: ${{ github.actor != 'dependabot[bot]' && github.event.pull_request.draft == false }}
    needs: [ build-sso ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: sso
      environment: staging
      gh_environment: staging
      cluster: digdir-fdk-dev
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_DEV_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  dependabot-build:
    name: Build image on PR from dependabot
    if: ${{ github.actor == 'dependabot[bot]' }}
    uses: Informasjonsforvaltning/workflows/.github/workflows/build.yaml@main
    with:
      java_version: '17'
